body {
  margin: 0;
}

.five-columns {
  width: 62.5%;
}

.center-column {
  width: 824px;
  margin-left: auto;
  margin-right: auto;
}

.full-width-background {
  background-color: red;
}

h1 {
  font-size: 62px;
  margin-top: 0;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 22px;
  line-height: 30px;
}

.author-information {
  display: flex;
}

.author-bio {
  font-size: 14px;
  line-height: 22px;
}

.author-portrait {
  width: 199px;
}
