body {
  background-color: rgb(133, 64, 22);
}

section {
  height: 110vh;
  padding: 1px;
  background: linear-gradient(to bottom left, white, green, yellow, orange, red);
  margin-bottom: 100px;
}

div {
  margin: 20px;
  padding: 20px;
  background-color: white;
  position: sticky;
  top: 20px;
  transition: background-color 1s ease-in-out, font-size 1s ease-in-out;
}

div:hover {
  background-color: red;
  font-size: 25px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s;
}

img:hover {
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  body {
    background-color: rgb(22, 133, 64);
  }

  .element {
    background-color: rgb(22, 133, 64);
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: rgb(64, 22, 133);
  }
}
